/* Colores Generales de la página - Modo Claro */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --decorative-color: #2a5d7f;
    --black-color: #000000;
    --white-color: #ffffff;

    --background-color: #002161;
    --background-color-2: #fc7b0b;
    --background-color-3: #ffffff;
    --background-color-4: #b9d5f1;
    --background-color-5: #1546a7;
    --background-color-6: #2557ba;
    --background-color-7: #0338a3;

    --text-color-3: #000000;
    --text-hover-3: #e74c3c;

    --text-color-2: #1044ad;
    --text-hover-2: #3498db;

    --text-fields: #d5d6d5;

    --text-color-1: #ecf1ec;
    --text-hover-1: #fc7b0b;

    --text-font-1: 'Prompt', sans-serif;
    --text-font-2: 'Prompt', Roboto;
}

/* Modo Oscuro */
 /* @media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #1c3b53;
        --secondary-color: #1d6f43;
        --accent-color: #a8322e;
        --decorative-color: #1a3d59;
        --black-color: #ffffff;
        --white-color: #000000;

        --background-color: #121212;
        --background-color-2: #1e1e1e;
        --background-color-3: #2b2b2b;
        --background-color-4: #37474f;
        --background-color-5: #212121;
        --background-color-6: #263238;
        --background-color-7: #1c2331;

        --text-color-3: #ffffff;
        --text-hover-3: #f06292;
        --text-color-2: #90caf9;
        --text-hover-2: #42a5f5;

        --text-fields: #37474f;

        --text-color-1: #ffffff;
        --text-hover-1: #ffcc80;
    }
} */

* {
    margin: 0;
    padding: 0;
}